.topNav{
  top: 0;
  right: 0;
  left: 0;
  color: #8B5B59;
  padding: 5px;
}

.topNav p{
  position: relative;
  left: -1.5%;
}

.socialBox{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  padding-top: 15px;
  font-size: 18px;
  color:#8B5B59;
}

a{
  color:#8B5B59;
}

.s1Header{
  font-size: 150px;
  text-align: center;
}

.topNav p {
  display: inline-block;
}

.bodyHead{
  padding-top: 0;
  padding-bottom: 0;
}

.bhImage{
  width: 100%;
  height: 100%
}

.bhOverlay{
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 20%;

}
